{%extends "base.html"%}
{%block content%}
<form method="POST" enctype="multipart/form-data" >
    {%csrf_token%}
    <div class="container" style="margin-top: 10%;margin-left: 30%;">

      
    <h1>Upload your image here</h1><br>
    
    <label for="myfile1">Choose your  image:</label>
            <input type="file" id="myfile1" name="myfile1"><br><br>
           
           
       
           
    <input type="submit" class="btn btn-primary" value="submit" style="position: absolute; right: 600px;">
</div>
    </form>

{%endblock%}