{%extends "base.html"%}
{%block content%}
<form method="POST" enctype="multipart/form-data" >
    {%csrf_token%}
    <h1>upload image here</h1>
    <label for="myfile1">Choose your first image</label>
            <input type="file" id="myfile1" name="myfile1"><br><br>
            <input type="text" name="file1_input" placeholder="input text for image 1"><br><br>
            <select id="color1" name="colour1_input">
                <option value="black" >black</option>
                <option value="white">white</option>
                
                
              </select><br>

            <label for="myfile2">Choose your second image</label>

          
            <input type="file" id="myfile2" name="myfile2" ><br><br>
            <input type="text" name="file2_input" placeholder="input text for image 2"><br><br>
            <select id="color2" name="colour2_input">
                <option value="black" >black</option>
                <option value="white">white</option>
                
                
              </select><br>
              <br>
    
    <input type="submit" class="btn btn-primary" value="submit">
    
    </form>

{%endblock%}